@model SpartanSpots.Models.Review
@using SpartanSpots.Helpers
@{
    ViewBag.Title = "Create";
}

<h2>Create Your Review: @HtmlExtensions.LabelBusinessName(ViewBag.BusinessId)</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Review</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Rating)
            @Html.DropDownListFor(model => model.Rating, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "0"  },
                       new { value = 1 , text = "1" },
                       new { value = 2 , text = "2"},
                       new { value = 3 , text = "3" },
                       new { value = 4 , text = "4"},
                       new { value = 5 , text = "5" }
                    },
                  "value",
                  "value",
                   0))
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.TextArea("Comment","",10,10,null)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.Hidden("BusinessId")
            
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Back", "../Business/Details", new { id=ViewBag.BusinessId  })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
