@model SpartanSpots.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Review</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Business.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Business.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
