@model IEnumerable<SpartanSpots.Models.Business>
@using SpartanSpots.Helpers
@{
    ViewBag.Title = "Index";
    var topthreerestaurants = HtmlExtensions.TopThreeRatedRestaurants();
    var topthreebars = HtmlExtensions.TopThreeRatedBars();
}
@Html.ActionLink("Add New Business", "Create")
<table width="80%" height="50%" border="1">
  <tr valign="top">
    <td width="358" colspan="2"><h2>Top Rated businesses</h2></td>
    <td width="300">&nbsp;</td>
  </tr>
  <tr valign="top">
    <td valign="top"><p>@Html.ActionLink("Resturaunts", "../Search/ListRestaurants")</p>
    <p>@Html.ActionLink("Bars", "../Search/ListBars")</p></td>
    <td valign="top"> 
        <h2>Top 3 Restaurants</h2>
        @foreach (SpartanSpots.Models.Business c in topthreerestaurants)
        {
          <p>@Html.ActionLink(c.Name.ToString(), "Details", new { id=c.Id })</p>
            <p> @c.TotalRating out of 5. @c.NumOfReviews Reviews</p>
        }
 </td>
     <td valign="top">
         <h2>Top 3 Bars</h2>
      @foreach (SpartanSpots.Models.Business c in topthreebars)
      {
        <p>@Html.ActionLink(c.Name.ToString(), "Details", new { id=c.Id })</p>
          <p> @c.TotalRating out of 5. @c.NumOfReviews Reviews</p>
      }
     </td>
  </tr>
  <tr valign="top">
    <td>&nbsp;</td>
     <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
